img {
  width: 70px;
  height: 70px;
  display: inline-block;
}

h2 {
  color: #0141b1;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
h3 {
  color: #0141b1;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}
